* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: darkgrey;
}

form {
    border: 2px solid black;
    width: 450px;
    padding: 20px;
    background: white;
}

.stylefieldset {
    border: 5px dotted;
    padding: 20px;
    margin-bottom: 20px;
}

.bcteal {
    border-color: teal;
}

.bcchoc{
    border-color: chocolate;
}

.bcsea{
    border-color: seagreen;
}

legend {
    font-size: 1.5rem;
    text-align: center;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input, textarea {
    padding: 8px;
}

textarea {
    height: 150px;
    resize: vertical;
}

.payment-options {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.payment-options label {
    display: flex;
    align-items: center;
    width: calc(50% - 10px); 
    cursor: pointer; 
}

.payment-options img {
    width: 80px; 
    height: auto;
    
}

.payment-options input[type="radio"] {
    width: 20px; 
    height: 20px;
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
}

button:hover {
    background: green;
}
